:root {
    --bg3: #6194A0 !important;
    --tx1: #EEF5DB !important;
    --link-color: #6194A0;
    --link-color-hover: #0C7489;
    --font-family: 'Inter', sans-serif;
    --code-font-family: 'Source Code Pro', monospace;
}

body {
    font-size: 18px;
    background-color: var(--bg3) !important;
    color: var(--tx1) !important;
    font-family: var(--font-family) !important;
    line-height: 1.6;
}

a {
    color: var(--link-color);
}

a:hover {
    color: var(--link-color-hover);
}

h1 {
    font-size: 2.4em;
    color: #0C7489;
    font-family: 'Inter', sans-serif;
    font-variant: small-caps;
}

h2 {
    font-size: 2em;
    color: #6194A0;
    font-family: 'Inter', sans-serif;
}

h3 {
    font-size: 1.8em;
    color: #0C7489;
    font-family: 'Inter', sans-serif;
}

code, pre {
    background-color: #4F6367;
    color: #EEF5DB;
    font-family: var(--code-font-family);
}
